apiVersion: v1
kind: Service
metadata:
  name: error-tracker-service
  labels:
    app: error-tracker
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
    service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"

spec:
  type: LoadBalancer
  selector:
    app: error-tracker
  ipFamilies:
  - IPv4
  - IPv6
  ipFamilyPolicy: PreferDualStack
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP