# Default values for error-tracker-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

image:
  repository: abhi0874/error-tracker
  pullPolicy: IfNotPresent
<<<<<<< HEAD
  tag: "21116836173"
=======
  tag: "21117772322"
>>>>>>> c578bc14bda27d592d871d7976dbdb8ce51921fb

service:
  type: LoadBalancer
  port: 80
  targetPort: 3000
containerPort: 3000

livenessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 5
  periodSeconds: 10
# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
# autoscaling:
#   enabled: false
#   minReplicas: 1
#   maxReplicas: 5
#   targetCPUUtilizationPercentage: 80
# targetMemoryUtilizationPercentage: 80
